Customize the side scrollbar ::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a230d9;
}
.main__container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  z-index: 999;
}
.inner__container {
  border: 1px solid rgb(14, 13, 13);
  background-color: rgba(44, 128, 225, 0.187);
  width: 60%;
  position: relative; 
  z-index: 9999;
  border-radius: 16px;
}
.text-container {
  color: #56e746bd;
  position: absolute;
  top: 150px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  overflow: hidden;
}
.pad {
  background-color: rgb(12, 12, 12);
  width: 90%;
  height: 60%;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
.pad:hover {
  box-shadow: 0 0 5px, 0 0 15px, 0 0 25px;
}
.buttons:hover {
  animation: shake3856 0.3s linear infinite both;
}
@keyframes shake3856 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@media only screen and (max-width: 600px) {
  .inner__container {
    width: 350px;
    margin: 0 auto;
    border-radius: 16px; 
  }
}
.inner__container:hover{
  box-shadow: 0 0 10px rgb(33, 116, 232),0 0 15px rgb(28, 88, 239),0 0 25px rgb(28, 88, 239),0 0 40px rgb(28, 88, 239);
}

.MF{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  
}